@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');

.content {
   width: 1145px;
   margin: 0 auto;
   text-align: center;
   font-family: "Montserrat", sans-serif;
}

.navbar{
   padding: 25px 0;
}

.navbar a {
font-weight: 700px;
   font-size: 18px;
   letter-spacing: 2.7px;
   text-transform: uppercase;
   color: #FF0000;
   height: 51px;
   text-decoration: none;
   font-weight: bold;
}
   
a {
   margin: 0 26px;
}

h2 {
   padding: 48px 38px 38px 48px;
   margin: 0;
}

footer.content {
   text-align: right;
}

p {
   margin: 0 auto;
   margin-bottom: 28px;
}

img {
   width: 1145px;
   height: auto;
}

button {
   background-color: #FF0000;
   border-radius: 4px;
   color: rgb(255, 255, 255);
   border: none;
   margin-top: 66px;
   margin-bottom: 82px;
   padding: 18px 43px 17px 42px;
}

